html, body {
    color:white;
    background-color: #00515f;
    font-family: Century Gothic;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}
.text-center {
    text-align:center;
}
.align-center {
    margin:auto;
}
.header {
    background-color: #00b0cf;
    padding-bottom:20px;
}
.main-content {
    max-height:100%;
    padding-top:20px;
}
.resume {

}
.blog {
    max-width:600px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration:none;
}
a:link, a:visited, a:active {
    color:white;
}
a:hover {
    color: darkgray;
}
.br10 {
    border-radius:10px;
}
.sh5 {
    box-shadow:0px 0px 10px 5px lightgray;
}