body {
    color:white;
    background-color: black;
    font-family: Century Gothic;
}
span {
    word-spacing: 20 px;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: gray;
}
a:active {
    color: white;
}